/.phpunit.cache
/node_modules
# /public/build
/public_html
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


.bash_history
.bash_logout
.bash_profile
.bashrc
.cagefs/
.cl.selector/
.composer/
.cpanel/
.cphorde/
.ftpquota
.gitconfig
.lastlogin
.spamassassin/
.spamassassinboxenable
.spamassassinenable
.ssh/
.trash/
.viminfo
access-logs
etc/
logs/
mail/
public/error_log
ssl/
tmp/
www

*.zip
*.rar
*.gz















